{% extends "layout.html" %}
{% block content %}

	<div class="row">
		<div class="col-md-6 col-md-push-3">
			<form action="/create_group" method="POST">
				{{ form.hidden_tag() }}
				
				<div class="form-group">
					{{ form.groupname.label }}

					{% if form.groupname.errors %}
						{% for error in form.groupname.errors %}
							<div class="alert alert-warning fade in">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Warning!</strong> {{ error }}
							</div>
						{% endfor %}
					{% endif %}

					{{ form.groupname(class_='form-control') }}
				</div>

					
				<div>
					{{ form.submit(class_='btn btn-lg btn-primary', id='add-user-btn') }}
				</div>

			</form>
		</div>
	</div>
{% endblock %}